<br>
<div class="container">
  <form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <h5 class="main-title">Funcionários</h5>
    <hr>
    <div class="form-group">
      <label for="perfil">Perfil</label>
      <input type="text" class="form-control" id="perfil" placeholder="Perfil" formControlName="perfil">
      <app-campo-control-erro [mostrarErro]="verificaValidTouched('perfil')" msgErro="O Perfil é obrigatório.">
      </app-campo-control-erro>
    </div>
    <div class="form-group">
      <label for="cargo">Cargo</label>
      <input type="text" class="form-control" id="cargo" placeholder="Cargo" formControlName="cargo">
      <app-campo-control-erro [mostrarErro]="verificaValidTouched('cargo')" msgErro="O Cargo é obrigatório.">
      </app-campo-control-erro>
    </div>
    <div class="form-group">
      <label for="segmento">Segmento</label>
      <input type="text" class="form-control" id="segmento" placeholder="Segmento" formControlName="segmento">
      <app-campo-control-erro [mostrarErro]="verificaValidTouched('segmento')" msgErro="Segmento é obrigatório.">
      </app-campo-control-erro>
    </div>
    <div class="form-group">
      <label for="codigoSap">Código SAP</label>
      <input type="text" class="form-control" id="codSap" placeholder="Código SAP" formControlName="codigoSAP">
      <app-campo-control-erro [mostrarErro]="verificaValidTouched('codigoSAP')" msgErro=" O código SAP é obrigatório.">
      </app-campo-control-erro>
    </div>
    <br>
    <h5 class="main-title">Desligamento</h5>
    <hr>
    <div class="form-group" formGroupName="desligamento">
      <label for="estaDesligado">Está Desligado</label><br>
      <div class="form-check">
        <input class="form-check-input" value="sim" type="radio" formControlName="estaDesligado" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Sim
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" value="nao" type="radio" formControlName="estaDesligado" id="flexRadioDefault2"
          checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Não
        </label>
      </div>

    </div>
    <div class="form-group" formGroupName="desligamento">
      <label for="devolucaoEquipamento">Devolução do Equipamento</label>
      <div class="form-check">
        <input class="form-check-input" value="sim" type="radio" formControlName="devolucaoEquipamento"
          id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Sim
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" value="nao" type="radio" formControlName="devolucaoEquipamento"
          id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Não
        </label>
      </div>
    </div>
    <div class="form-group" formGroupName="desligamento">
      <div class="mb-3">
        <label for="observacao" class="form-label">Observações:</label>
        <textarea class="form-control" id="observacao" rows="3" formControlName="observacao"></textarea>
      </div>
    </div>
    <div class="form-group" formGroupName="desligamento">
      <label for="dataAfastamento">Data do Afastamento</label>
      <input type="date" class="form-control" id="dataAfastamento" formControlName="dataAfastamento">
    </div>
    <div class="form-group" formGroupName="desligamento">
      <label for="dataInforme">Data Informe</label>
      <input type="date" class="form-control" id="dataInforme" formControlName="dataInforme">
    </div>
    <br>
    <h5 class="main-title">Férias</h5>
    <hr>
    <div class="form-group">
      <div class="form-group" formGroupName="ferias">
        <label for="estaDeFerias">Está de férias</label><br>
        <div class="form-check">
          <input class="form-check-input" value="sim" type="radio" formControlName="estaDeFerias"
            id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Sim
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" value="nao" type="radio" formControlName="estaDeFerias" id="flexRadioDefault2"
            checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Não
          </label>
        </div>
      </div>
      <div class="form-group" formGroupName="ferias">
        <label for="dataPrevisao">Data Previsão</label>
        <input type="date" class="form-control" id="dataPrevisao" formControlName="dataPrevisao">
      </div>
      <div class="form-group" formGroupName="ferias">
        <label for="dataEfetivacao">Data Efetivação</label>
        <input type="date" class="form-control" id="dataEfetivacao" formControlName="dataEfetivacao">
      </div>
      <div class="form-group" formGroupName="ferias">
        <label for="dataRetorno">Data de Retorno</label>
        <input type="date" class="form-control" id="dataRetorno" formControlName="dataRetorno">
      </div>
    </div>
    <br>
    <h5 class="main-title">Dados Pessoais</h5>
    <hr>
    <div class="form-group" formGroupName="dadosPessoais">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
      <app-campo-control-erro [mostrarErro]="verificaValidTouched('dadosPessoais.nome')" msgErro="Nome é obrigatório.">
      </app-campo-control-erro>
    </div>
    <div class="form-group" formGroupName="dadosPessoais">
      <label for="sobrenome">SobreNome</label>
      <input type="text" class="form-control" id="sobrenome" placeholder="Sobrenome" formControlName="sobrenome">
      <app-campo-control-erro [mostrarErro]="verificaValidTouched('dadosPessoais.sobrenome')" msgErro="Sobrenome é obrigatório.">
      </app-campo-control-erro>
    </div>
    <div class="form-group" formGroupName="dadosPessoais">
      <label for="cpf">CPF</label>
      <input type="text" class="form-control" id="cpf" placeholder="Somente Números" maxlength="11"
        formControlName="cpf">
      <app-campo-control-erro [mostrarErro]="verificaValidTouched('dadosPessoais.cpf')" msgErro="CPF é obrigatório.">
      </app-campo-control-erro>
    </div>
    <div class="form-group" formGroupName="dadosPessoais">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="email@email.com" formControlName="email">
      <app-campo-control-erro [mostrarErro]="verificaValidTouched('dadosPessoais.email')" msgErro="E-mail é obrigatório.">
      </app-campo-control-erro>
    </div>
    <div class="form-group" formGroupName="dadosPessoais">
      <label for="telefone">Telefone</label>
      <input type="tel" class="form-control" id="telefone" placeholder="Telefone" formControlName="telefone">
      <app-campo-control-erro [mostrarErro]="verificaValidTouched('dadosPessoais.telefone')" msgErro="Telefone é obrigatório.">
      </app-campo-control-erro>
    </div>
    <br>
    <h5 class="main-title">Dados Vivo</h5>
    <hr>
    <div class="form-group">
      <div class="form-group" formGroupName="dadosVivo">
        <label for="contrato">Contrato</label>
        <input type="text" class="form-control" id="contrato" placeholder="Contrato" formControlName="contrato">
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('dadosVivo.contrato')" msgErro="Contrato é obrigatório.">
        </app-campo-control-erro>
      </div>
      <div class="form-group" formGroupName="dadosVivo">
        <label for="sUser">S-User</label>
        <input type="text" class="form-control" id="sUser" placeholder="S-User" formControlName="sUser">
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('dadosVivo.sUser')" msgErro="S-User é obrigatório.">
        </app-campo-control-erro>
      </div>
      <div class="form-group" formGroupName="dadosVivo">
        <label for="acesso">Acesso</label>
        <div class="form-check">
          <input class="form-check-input" value="sim" type="radio" formControlName="acesso" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Sim
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" value="nao" type="radio" formControlName="acesso" id="flexRadioDefault2"
            checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Não
          </label>
        </div>
      </div>
      <div class="form-group" formGroupName="dadosVivo">
        <label for="acessoJira">Acesso Jira</label>
        <div class="form-check">
          <input class="form-check-input" value="sim" type="radio" formControlName="acessoJira" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Sim
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" value="nao" type="radio" formControlName="acessoJira" id="flexRadioDefault2"
            checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Não
          </label>
        </div>
      </div>
      <div class="form-group" formGroupName="dadosVivo">
        <label for="acessoGitLab">Acesso GitLab</label>
        <div class="form-check">
          <input class="form-check-input" value="sim" type="radio" formControlName="acessoGitLab"
            id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Sim
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" value="nao" type="radio" formControlName="acessoGitLab" id="flexRadioDefault2"
            checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Não
          </label>
        </div>
      </div>
      <div class="form-group" formGroupName="dadosVivo">
        <label for="acessoWiki">Acesso Wiki</label>
        <div class="form-check">
          <input class="form-check-input" value="sim" type="radio" formControlName="acessoWiki" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Sim
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" value="nao" type="radio" formControlName="acessoWiki" id="flexRadioDefault2"
            checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Não
          </label>
        </div>
      </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-primary">Enviar</button>

    <app-form-debug [form]="formulario"></app-form-debug>
  </form>
</div>
<br>