<br>
<div class="container">
    <form class="form-horizontal" [formGroup]="formFerias" (ngSubmit)="onSubmit()">
        <br>
        <h5 class="main-title">Férias</h5>
        <hr>
        <div class="form-group">
            <div class="form-group">
                <label for="estaDeFerias">Está de férias</label><br>
                <div class="form-check">
                    <input class="form-check-input" value="sim" type="radio" formControlName="estaDeFerias"
                        id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Sim
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" value="nao" type="radio" formControlName="estaDeFerias"
                        id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Não
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="dataPrevisao">Data Previsão</label>
                <input type="date" class="form-control" id="dataPrevisao" formControlName="dataPrevisao">
            </div>
            <div class="form-group">
                <label for="dataEfetivacao">Data Efetivação</label>
                <input type="date" class="form-control" id="dataEfetivacao" formControlName="dataEfetivacao">
            </div>
            <div class="form-group">
                <label for="dataRetorno">Data de Retorno</label>
                <input type="date" class="form-control" id="dataRetorno" formControlName="dataRetorno">
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Enviar</button>

        <app-form-debug [form]="formFerias"></app-form-debug>
    </form>
</div>
<br>
